#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: roboto;
}

body {
  background-color: lightgray;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.upper-div {
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
}

.square {
  background-color: #f3c937;
  max-width: 500px;
  max-height: 500px;
  height: 500px;
  width: 500px;
  color: black;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 600;
}

.buttongroup {
  display: flex;
  justify-content: center;
}

.alignLeft {
  text-align: left;
}

.animalFormatting {
  text-align: center;
  padding: 20px;
  list-style: none;
  font-weight: 700;
  border: 1px solid salmon;
}

.cardStyle {
  margin: 15px;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  background-color: #fff;
  color: black;
  border-radius: 15px;
  box-shadow: 5px 5px 5px grey;
  max-width: 250px;
}

.btnStyle {
  background-color: #d72c40;
  box-shadow: #4e4d4d 2px 3px 5px;
  color: white;
  padding: 10px 20px;
  text-transform: none;
  margin-bottom: 40px;
}

.cardStyle2 {
  margin: 15px;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  background-color: #fff;
  color: black;
  border-radius: 15px;
  box-shadow: 5px 5px 5px grey;
  width: 250px;
  height: 300px;

  position: relative;
  transition: transform 1.4s;
  transform-style: preserve-3d;
}


.cardDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photoDiv {
  margin-bottom: 40px;
  max-height: 300px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  right: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.cardStyle2:hover {
  transform: rotateY(180deg);
}

.flip-card-back {

  transform: rotateY(180deg);
}